body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #ff8c00; 
}

